.HomePage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.hero-text {
  color: white;
  text-align: center;
  font-size: 3.6rem;
  span {
    color: #037fff;
  }
}

.h-sub-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid white;
  margin: 2rem 0;
  padding: 2rem;
  border-radius: 1rem;
  background: rgba(7, 6, 6, 0);
  .linkAboutHome {
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    p {
      color: #037fff;
    }
    .arrowRight {
      color: #037fff;
      font-size: 2rem;
      padding-top: 0.2rem;
    }
  }
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;

  .icon-holder {
    margin-right: 2rem;
    // style
    &::before {
      transition: all 0.35s;
      transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.5);
    }
    .icon {
      font-size: 2.5rem;
      color: #ffffff46;
      transition: all 0.4s ease-in-out;
    }
    .tw {
      color: lightgray;
    }
    .tw:hover {
      color: #00acee;
      border-radius: 50%;
    }
    .gh {
      color: lightgray;
    }
    .gh:hover {
      color: #c9510c;
      border-radius: 2rem;
    }
    .fb {
      color: lightgray;
    }
    .fb:hover {
      color: #3b5998;
      border-radius: 50%;
    }
    .sl {
      color: lightgray;
    }
    .sl:hover {
      color: #2eb67d;
      border-radius: 50%;
    }
    .in {
      color: lightgray;
    }
    .in:hover {
      color: #fb3958;
      border-radius: 50%;
    }
    .li {
      color: lightgray;
    }
    .li:hover {
      color: #0e76a8;
      border-radius: 50%;
    }
    .wa {
      color: lightgray;
    }
    .wa:hover {
      color: #075e54;
      border-radius: 2rem;
    }
  }
}
