@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&display=swap");
@import "./styles/layout";
@import "./styles/navbar";
@import "./styles/typography";
@import "./styles/title";
@import "./styles/about";
@import "./styles/skill";
@import "./styles/services";
@import "./styles/blogs";
@import "./styles/contact";
@import "./styles/portfolios";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-thumb {
  background-color: #2676c7;
  border-radius: 50px;
}
body::-webkit-scrollbar-track {
  background-color: #777;
}

body {
  color: #a4acc4;
  font-family: "Mulish", sans-serif;
  font-size: 1.2rem;
}

span {
  color: #037fff;
}

@media screen and (max-width: 700px) {
  html {
    font-size: 80%;
  }
}

@media screen and (max-width: 480px) {
  h2 {
    font-size: 70%;
  }
}

@media screen and (max-width: 411px) {
  html {
    font-size: 60%;
  }
}
